body {
    text-align: center;
}

h1 {
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    width: 400px;
    height: 800px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.btn {
    padding: 20px;
}

.screen {
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
}

#clearBtn {
    margin: 10px;
}

#currentScreen {
    min-height: 64px;
    font-size: 40px;
}

#storedInput {
    min-height: 32px;
    font-size: 20px;
}